*{
    box-sizing: border-box;
}
.hide {
    display: none;
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 100vh;
    background-color: wheat;
    margin:0px;
}
#sign_log_in {
    margin: 25vh auto 25vh auto;
    width: 30vw;
    height: 40vh;
    background-color: blanchedalmond;
}
#sign_log_in h2 {
    text-align: center;
    background-color:burlywood;
}
#sign_log_in form {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    margin-top: 8vh;
}
#sign_log_in form > *{
    margin-bottom: 2vh;
}
#sign_log_in form label {
    font-size: 1.3em;
    text-align: center;
    background-color:burlywood;
    border-radius: 5px;
}
#sign_log_in form input {
    height: 5vh;
    border-radius: 5%;
    font-size: 1em;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
#sign_log_in form input:hover {
    background-color: teal;
    color: white;
}

.main_box {
    display: flex;
    background-color: yellowgreen;
    width: 80vw;
    height: 80vh;
    margin: 10px auto;
    flex-direction: column;
}
.main_box h2 {
    text-align: center;
}
#sign_up form {
    display: flex;
    flex-direction: column;
    border: 1px solid aliceblue;
    padding: 10px 50px;
    margin: 10px auto;
    font-size: 1.5em;
}

#sign_up form > input {
    width: 500px;
    height: 40px
}
#sign_up form > * {
    margin-bottom: 10px;
}
#sign_up form input:last-of-type {
    margin-top: 30px;
    width: 300px;
    margin: 30px auto 0px auto;
}
.invalidData {
    border: 1px solid red;
    background-color: #e89f74;
}
#log_in {
    margin-top: 20vh;
    width: 300px;
    height: 400px;
}

#log_in form {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    margin-top: 0vh;
}
#log_in form input {
    height: 5vh;
    border-radius: 5%;
    font-size: 1em;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
#log_in form > *{
    margin-bottom: 2vh;
}
#log_in form label {
    font-size: 1.3em;
    text-align: center;
    background-color:burlywood;
    border-radius: 5px;
}
#log_in form label {
    font-size: 1.3em;
    text-align: center;
    background-color:burlywood;
    border-radius: 5px;
}
#logged_in {

}
.top_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow;
    padding: 10px;
}
.top_menu h2 {
    display: block;
    margin:0px;
}
.main_content {
    height: 75vh;
    background-color: red;
}
.my_list_box {
    height: 72vh;
    background-color: #e89f74;
}
.my_list_box h2 {
    margin: 0;
}
#existing_lists ul {
    list-style: none;
}
#existing_lists ul li{
    font-size: 1.4em;
    background-color: green;
    margin-bottom: 5px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
#my_list_div form {
    display: flex;
    justify-content: center
}
#create_new_list {
    display: flex;
    flex-direction: column;
}
#new_list_Table {
    margin-top: 20px;
    align-self: center;
    width: 75vw;
    background-color: red;
    min-height: 5vh;
    max-height: 51vh;
    overflow: scroll;
}
#new_list_Table thead {
    background-color: green;
}
#new_list_Table td{
    text-align: center;
}
#save_created_list {
    width: 100px;
    height: 50px;
    align-self: center;
    margin-top: 10px;
}
.edit_btn {
    height: 23px;
    width: 80px;
    display: block;
    margin: 0 auto;
}